.option[data-checked] {
  background-color: var(--dsg-select-option-selected-background) !important;
}

@media (hover: hover) {
  .option:hover:not([data-combobox-selected], [data-combobox-disabled]) {
    background-color: var(--dsg-select-option-hover-background) !important;
  }

  .option:hover:not([data-combobox-selected], [data-combobox-disabled]) span {
    color: var(--dsg-select-option-hover-text) !important;
  }
}

.option[data-combobox-selected]:not([data-checked], [data-combobox-disabled]) {
  background-color: var(--dsg-select-option-hover-background) !important;
}

.option[data-combobox-selected]:not([data-checked], [data-combobox-disabled]) span {
  color: var(--dsg-select-option-hover-text) !important;
}
